.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__month {
        width: 200px;
        margin: 0 10px;   
        display: flex;
        align-items: center;   
        justify-content: center;
    }

    &__additional {
        display: flex;
        align-items: center;

        h2 {
            margin-right: 20px;
        }
    }
}