@import '../../constants';

.switch {
  width: 60px;
  height: 25px;
  position: relative;
  
  input {
    display: none;
  }

  .switcher {
    position: absolute;
    cursor: pointer;
    outline: 1px solid #aaa;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;  

      &:before {
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        left: 4px;
        bottom: 0px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
      }
  }

  input:checked + .switcher {
    background-color: $background-app;
  }

  input:focus + .switcher {
    box-shadow: 0 0 1px $background-app;
  }
  
  input:checked + .switcher:before {
    outline: 1px solid #ccc;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .switcher.round {
    border-radius: 34px;
  }
  
  .switcher.round:before {
    border-radius: 50%;
  }
}